@charset "utf-8";
.itemDate{
	position:absolute;
	top:3px;right:20px;
	text-align:right;
}

.itemColor{
	font-size: 0.6rem;
	line-height: 1.6em;
	font-weight: 600;
	color:#300;
	overflow: hidden;
	padding-top:1em;
}


.newItem li{
	float:left;
	width:215px;
	border:2px solid #666;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	margin:0px 2px 6px 4px;
	padding:10px 0px 10px 0px;
	background:url(../image/back3.jpg) left top;
	list-style-type:none;
}

.newItem2 li{
	float:left;
	width:205px;
	border:2px solid #666;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	margin:0px 2px 6px 4px;
	padding:10px 0px 10px 10px;
	background:url(../image/back2.jpg) left top;
	list-style-type:none;
}

.newItem3 li{
	width:180px;
	height:200px;
	box-sizing: border-box;
	border:2px solid #666;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	margin-bottom: 1em;
	padding: 0.5em;
	background:url(../image/back.jpg) left top;
	list-style-type:none;
}

.main{
	box-sizing: border-box;
	width:960px;
	height: auto;
	margin: 0 auto;
	margin-bottom: 2em;
	margin-top: 2em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-around;
}

#ichidan{
clear:both;}
