@charset "utf-8";
#header ul{
	text-align:right;
	margin-top:-18px;
	}

#header ul li{
	margin-right:.5em;
	display:inline;
	}

#globalNavi{
	width:960px;
	margin:0 auto;
	}

#globalNavi a{
	width:192px;
	overflow:hidden;
	}

#globalNavi li{
	float:left;
	margin:0 auto;
	}

/*------------------- header --------------------*/
.new-logo {
	background-color: rgba(0, 0, 0, .5);
	width: 960px;
	height: auto;
	line-height: 3rem;
	margin: 0 auto;
	padding: 1em 0;
	border-bottom: #fff solid 1px;
}

.new-logo img {
	width: 20%;
	text-align: left;
}

/*------------------- neo-nav 旧サイト用 css only (スマホ、タブレット端末では挙動不審に)--------------------*/
*, *::after, *::before {
	box-sizing: border-box;
}

/*
ul.neo-nav a, ul.neo-nav a:visited, ul.neo-nav a:link{
	color: #fff;
	text-decoration: none;
}

.neo-nav {
	display: flex;
	width: 960px;
	margin: 0 auto;
}

.neo-nav ul {
	display: none;
}

.neo-nav ul.active {
	display: block;
}

.neo-nav a {
	transition: all ease-in .5s;
}

.neo-nav a:hover {
	background-color: rgba(0, 0, 0, .8);
}

.neo-nav > li > a {
	display: block;
	padding: 0.3em;
	background-color: rgba(0, 0, 0, .5);
}

.neo-nav > li > a:after {
	content: '>';
	transform: rotate(90deg);
}

.neo-nav > li > ul a {
	display: block;
	padding: 0.3em;
	background-color: rgba(0, 0, 0, .5);
}
*/



/*------------------- new-nav 旧サイト用 vanila js --------------------*/


.new-nav{
	display: flex;
	width: 960px;
	margin: 0 auto;
	}

.new-nav > li{
	width: 20%;
	}

.new-nav > li{
	list-style-type: none;
	position: relative;
	background-color: rgba(0, 0, 0, .5);
	color: #fff;
	border-right: #fff solid 1px;
	display: block;
  text-align: center;
  text-decoration: none;
	width: 100%;
	height: 2.5rem;
  line-height: 2.5rem;
	transition: all ease-in-out .5s;
	}

	.new-nav > li:last-child {
		border-right: none;
	}

		.new-nav li:hover {
	background-color: rgba(0, 0, 0, .8);
	}

	.new-nav a {
		color: #fff!important;
	}

	.new-nav a:visited {
		color: #fff;
	}

/* new-nav 子階層*/

	ul.nav-child {
		width: 100%;
		line-height: 2.5rem;
		position: absolute;
		z-index: 100;
		/*display: none;*/
	}


	ul.nav-child li {
		border-top: none;
		height: 0px;
		list-style-type: none;
		background-color: rgba(0, 0, 0, .5);
		color: #fff;
		display: block;
		text-align: center;
		text-decoration: none;
		overflow: hidden;
		opacity: 0;
	}

	.active ul.nav-child li:first-child {
		border-top: none;
	}

	  .active ul.nav-child li {
		height: 40px;
		border-top: #eee solid 1px;
		opacity: 1;
		transition: all ease-out .6s;
	}

	/*.new-nav li li {
		height: 0;
		overflow: hidden;
		transition: .5s;
	}*/

	/*.new-nav li:hover > ul > li {
		height: 2.5rem;
		overflow: visible;
	}*/


	/*--------------------------------------------------*/

#sub h2{
	background:url(../images/title_sub01.jpg) no-repeat;
	width:192px;
	height:30px;
	}

#sub h2 a{
	width:192px;
	height:30px;
	display:block;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/title_sub01.jpg) no-repeat;
	}

#sub h2 a:hover,
#sub h2 a:active{
	background:url(../images/title_sub01.jpg) no-repeat 0 -30px;
	}

#sub .navi{
	padding:5px 5px 30px;
	}

#sub .navi li{
	background:url(../images/icon_navi.gif) no-repeat;
	padding:3px 0 3px 25px;
	}

#sub .bnr{
	padding:10px 0;
	}

#sub .bnr li{
	margin-bottom:5px;
	}

#footer ul{
	margin-bottom:5px;
	text-align:center;
	}

#footer ul li{
	display:inline;
	margin-right:0.5em;
	color:#FFF;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	padding-left: 15px;
	padding-right: 5px;
    }
#footer address{
	color:#FFF;
	text-align:right;
    }

#main h2{
	height:28px;
	background:url(../images/title_h2.jpg) no-repeat;
	clear:both;
	margin-bottom:10px;
	color:#333;
	padding:12px 0 0 35px;
	}

#main p{
	margin-bottom:1.5em;
	}

#main .textL{
	width:340px;
	float:left;
	padding:10px 0 10px 10px;
    }

#main .imgR{
	float:right;
	padding-right:10px;
	}

#main dl{
	padding:0 5px 15px;
    }

#main dl dd{
	margin-bottom:px;
	padding:3px 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CC0033;
    }

#main dl .new{background:url(../image/icon_new.gif) no-repeat;
    padding-left:40px;
    color:#000;
    }

#main dl a,#main dl a:hover{
	color:#304064;
    }

		/*------------------- recruit--------------------*/
		.container {
			width: 760px;
			margin: 0 auto;
			margin-top: 2em;
			box-sizing: border-box;
			border: #000 solid 1px;
		}

		.container p {
			text-align: left;
			margin: 1em 2em;
		}
