#wrapper2 {
	width: 960px;
	margin: 0px auto;
}

#intro {
    padding-bottom: 10px;
}

#slider {
    width: 800px;
	height:600px;
    margin: 0 auto;
	border:#000000 2px solid;
	background:#FFFFFF url(../images/loading.gif) no-repeat 50% 50%;
}

#slider2 {
    width: 600px;
	height:800px;
    margin: 0 auto;
	border:#000000 2px solid;
	background:#FFFFFF url(../images/loading.gif) no-repeat 50% 50%;
}

#slider img { display:none; }
#slider2 img { display:none; }

/* ページャーに画像を使っている場合 */
.nivo-controlNav a img {
     display : bloack;  
}

.scroll {
	overflow: hidden;
	width: 800px;
    margin: 0 auto;
    position: relative;
}

.scrollContainer {
	position: relative;
}

.scrollContainer div.panel {
	padding: 10px;
	width: 174px;
	height: 518px;
}

#left-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 12px;
	bottom: 0;
	background: url(../images/leftshadow.png) repeat-y;
}

#right-shadow {
	position: absolute;
	top: 0;
	right: 0;
	width: 12px;
	bottom: 0;
	background: url(../images/rightshadow.png) repeat-y;
}

.inside {
	padding: 10px;
	border: 1px solid #999;
	width: 152px;
}

.inside img {
	display: block;
	border: 1px solid #666;
	margin: 0 0 10px 0;
	width: 150px;
}

.inside h2 {
	font-weight: normal;
	color: #111;
	font-size: 16px;
	margin: 0 0 8px 0;
}

.inside p {
	font-size: 11px;
	color: #ccc;
}

a {
	color: #999;
	text-decoration: none;
	border-bottom: 1px dotted #ccc;
}

.scrollButtons {
    position: absolute;
    top: 127px;
    cursor: pointer;
}

.scrollButtons.left {
    left: -45px;
}

.scrollButtons.right {
    right: -45px;
}

.hide {
    display: none;
}
