@charset "utf-8";
/* CSS Document */

.ddsmoothmenu ul li{
	position:relative;
	display:inline;
	float:left
	}
	
.ddsmoothmenu ul li ul{
	position:absolute;
	left:0;
	display:none;
	visibility:hidden
	}
	
.ddsmoothmenu ul li ul li a{
	border-top-width:0;
	border-bottom:1px solid gray;
	margin:0;padding:0
	}
	
* html .ddsmoothmenu{
	height:1%
	}
	
.ddshadow{
	position:absolute;
	left:0;
	top:0;
	width:0;
	height:0;
	background:silver
	}